In [103]:
import pandas as pd
df=pd.read_csv(r'Z:\jupyter notebook\climate-o-metric\677ff8ce5a9a7_Country_Pollution_Stats.csv')

In [104]:
df.head()

,region_id,country_name,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,composition_plastic_percent,composition_rubber_leather_percent,composition_wood_percent,composition_yard_garden_green_waste_percent,population_population_number_of_people,special_waste_agricultural_waste_tons_year,special_waste_construction_and_demolition_waste_tons_year,special_waste_e_waste_tons_year,special_waste_hazardous_waste_tons_year,special_waste_industrial_waste_tons_year,special_waste_medical_waste_tons_year,Temprature Change
0,SAS,Afghanistan,2057.062256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34656032,6802511.0,NaN,20000.0,NaN,NaN,9855.0,0.435824
1,ECS,Albania,13724.058590,51.4,4.5,4.8,15.21,9.9,9.6,NaN,4.6,NaN,2854191,NaN,203009.0,20000.0,5714.82,270269.0,114.3,0.777882
2,MEA,Algeria,11826.165040,54.4,1.2,2.8,0.80,9.8,16.9,12.6,1.5,NaN,40606052,NaN,11000000.0,252000.0,330000.00,2547000.0,30000.0,0.493735
3,EAS,American Samoa,11113.442380,19.7,3.4,7.9,25.60,26.4,12.8,4.2,NaN,NaN,55599,NaN,NaN,NaN,NaN,NaN,NaN,0.741878
4,ECS,Andorra,43711.800780,31.2,8.2,2.6,11.60,35.1,11.3,NaN,NaN,NaN,82431,NaN,NaN,NaN,1788.00,NaN,NaN,0.494500

In [105]:
df.shape

(217, 20)

In [106]:
df.isna().sum()

region_id                                                      0
country_name                                                   1
gdp                                                            1
composition_food_organic_waste_percent                        41
composition_glass_percent                                     46
composition_metal_percent                                     47
composition_other_percent                                     42
composition_paper_cardboard_percent                           41
composition_plastic_percent                                   42
composition_rubber_leather_percent                           164
composition_wood_percent                                     153
composition_yard_garden_green_waste_percent                  179
population_population_number_of_people                         0
special_waste_agricultural_waste_tons_year                   164
special_waste_construction_and_demolition_waste_tons_year    143
special_waste_e_waste_tons_year                               35
special_waste_hazardous_waste_tons_year                       99
special_waste_industrial_waste_tons_year                     177
special_waste_medical_waste_tons_year                        112
Temprature Change                                             38
dtype: int64

In [107]:
df.dtypes

region_id                                                     object
country_name                                                  object
gdp                                                          float64
composition_food_organic_waste_percent                       float64
composition_glass_percent                                    float64
composition_metal_percent                                    float64
composition_other_percent                                    float64
composition_paper_cardboard_percent                          float64
composition_plastic_percent                                  float64
composition_rubber_leather_percent                           float64
composition_wood_percent                                     float64
composition_yard_garden_green_waste_percent                  float64
population_population_number_of_people                         int64
special_waste_agricultural_waste_tons_year                   float64
special_waste_construction_and_demolition_waste_tons_year    float64
special_waste_e_waste_tons_year                              float64
special_waste_hazardous_waste_tons_year                      float64
special_waste_industrial_waste_tons_year                     float64
special_waste_medical_waste_tons_year                        float64
Temprature Change                                            float64
dtype: object

In [108]:
df['composition_food_organic_waste_percent']=df['composition_food_organic_waste_percent'].fillna(df['composition_food_organic_waste_percent'].mean())

In [109]:
df['composition_glass_percent'] = df['composition_glass_percent'].fillna(df['composition_glass_percent'].mean())
df['composition_metal_percent'] = df['composition_metal_percent'].fillna(df['composition_metal_percent'].mean())
df['composition_other_percent'] = df['composition_other_percent'].fillna(df['composition_other_percent'].mean())
df['composition_paper_cardboard_percent'] = df['composition_paper_cardboard_percent'].fillna(df['composition_paper_cardboard_percent'].mean())
df['composition_plastic_percent'] = df['composition_plastic_percent'].fillna(df['composition_plastic_percent'].mean())
df['composition_rubber_leather_percent'] = df['composition_rubber_leather_percent'].fillna(df['composition_rubber_leather_percent'].mean())
df['composition_wood_percent'] = df['composition_wood_percent'].fillna(df['composition_wood_percent'].mean())
df['composition_yard_garden_green_waste_percent'] = df['composition_yard_garden_green_waste_percent'].fillna(df['composition_yard_garden_green_waste_percent'].mean())
df['population_population_number_of_people'] = df['population_population_number_of_people'].fillna(df['population_population_number_of_people'].mean())
df['special_waste_agricultural_waste_tons_year'] = df['special_waste_agricultural_waste_tons_year'].fillna(df['special_waste_agricultural_waste_tons_year'].mean())
df['special_waste_construction_and_demolition_waste_tons_year'] = df['special_waste_construction_and_demolition_waste_tons_year'].fillna(df['special_waste_construction_and_demolition_waste_tons_year'].mean())
df['special_waste_e_waste_tons_year'] = df['special_waste_e_waste_tons_year'].fillna(df['special_waste_e_waste_tons_year'].mean())
df['special_waste_hazardous_waste_tons_year'] = df['special_waste_hazardous_waste_tons_year'].fillna(df['special_waste_hazardous_waste_tons_year'].mean())
df['special_waste_industrial_waste_tons_year'] = df['special_waste_industrial_waste_tons_year'].fillna(df['special_waste_industrial_waste_tons_year'].mean())
df['special_waste_medical_waste_tons_year'] = df['special_waste_medical_waste_tons_year'].fillna(df['special_waste_medical_waste_tons_year'].mean())
df['Temprature Change'] = df['Temprature Change'].fillna(df['Temprature Change'].mean())

In [110]:
df

,region_id,country_name,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,composition_plastic_percent,composition_rubber_leather_percent,composition_wood_percent,composition_yard_garden_green_waste_percent,population_population_number_of_people,special_waste_agricultural_waste_tons_year,special_waste_construction_and_demolition_waste_tons_year,special_waste_e_waste_tons_year,special_waste_hazardous_waste_tons_year,special_waste_industrial_waste_tons_year,special_waste_medical_waste_tons_year,Temprature Change
0,SAS,Afghanistan,2057.062256,41.734392,4.756173,4.276838,18.41801,15.277361,11.687394,2.671321,4.772031,11.419939,34656032,6.802511e+06,5.777923e+07,20000.000000,6.934517e+06,3.150960e+08,9.855000e+03,0.435824
1,ECS,Albania,13724.058590,51.400000,4.500000,4.800000,15.21000,9.900000,9.600000,2.671321,4.600000,11.419939,2854191,9.001569e+07,2.030090e+05,20000.000000,5.714820e+03,2.702690e+05,1.143000e+02,0.777882
2,MEA,Algeria,11826.165040,54.400000,1.200000,2.800000,0.80000,9.800000,16.900000,12.600000,1.500000,11.419939,40606052,9.001569e+07,1.100000e+07,252000.000000,3.300000e+05,2.547000e+06,3.000000e+04,0.493735
3,EAS,American Samoa,11113.442380,19.700000,3.400000,7.900000,25.60000,26.400000,12.800000,4.200000,4.772031,11.419939,55599,9.001569e+07,5.777923e+07,242295.043407,6.934517e+06,3.150960e+08,3.399483e+06,0.741878
4,ECS,Andorra,43711.800780,31.200000,8.200000,2.600000,11.60000,35.100000,11.300000,2.671321,4.772031,11.419939,82431,9.001569e+07,5.777923e+07,242295.043407,1.788000e+03,3.150960e+08,3.399483e+06,0.494500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,LCN,Virgin Islands (U.S.),30436.564450,46.000000,7.000000,7.000000,12.00000,15.000000,13.000000,2.671321,4.772031,11.419939,105784,9.001569e+07,5.777923e+07,242295.043407,6.934517e+06,3.150960e+08,3.399483e+06,0.821738
213,MEA,West Bank and Gaza,5985.683105,59.100000,2.400000,2.700000,11.50000,10.100000,14.200000,2.671321,4.772031,11.419939,4046901,4.400000e+05,5.777923e+07,242295.043407,6.262100e+04,1.313440e+05,4.572000e+03,0.821738
214,MEA,"Yemen, Rep.",8269.671875,65.000000,1.000000,6.000000,6.00000,7.000000,10.000000,1.000000,3.000000,1.000000,27584212,9.001569e+07,5.777923e+07,42000.000000,2.100000e+04,3.150960e+08,3.399483e+06,0.821738
215,SSF,Zambia,3201.289307,41.734392,4.756173,4.276838,18.41801,15.277361,11.687394,2.671321,4.772031,11.419939,14264756,9.001569e+07,5.777923e+07,15000.000000,8.000000e+04,3.150960e+08,3.399483e+06,0.638471
216,SSF,Zimbabwe,3190.506592,36.000000,5.000000,6.000000,3.00000,27.000000,23.000000,2.671321,4.772031,11.419939,12500525,9.001569e+07,5.777923e+07,13000.000000,3.734600e+04,3.150960e+08,3.399483e+06,0.487118

In [111]:
df.isna().sum()

region_id                                                    0
country_name                                                 1
gdp                                                          1
composition_food_organic_waste_percent                       0
composition_glass_percent                                    0
composition_metal_percent                                    0
composition_other_percent                                    0
composition_paper_cardboard_percent                          0
composition_plastic_percent                                  0
composition_rubber_leather_percent                           0
composition_wood_percent                                     0
composition_yard_garden_green_waste_percent                  0
population_population_number_of_people                       0
special_waste_agricultural_waste_tons_year                   0
special_waste_construction_and_demolition_waste_tons_year    0
special_waste_e_waste_tons_year                              0
special_waste_hazardous_waste_tons_year                      0
special_waste_industrial_waste_tons_year                     0
special_waste_medical_waste_tons_year                        0
Temprature Change                                            0
dtype: int64

In [112]:
df['country_name'] = df['country_name'].fillna('Unknown')

In [113]:
df['gdp']

0       2057.062256
1      13724.058590
2      11826.165040
3      11113.442380
4      43711.800780
           ...
212    30436.564450
213     5985.683105
214     8269.671875
215     3201.289307
216     3190.506592
Name: gdp, Length: 217, dtype: float64

In [114]:
df['gdp'] = df['gdp'].fillna(df['gdp'].mean())

In [115]:
df.isna().sum()

region_id                                                    0
country_name                                                 0
gdp                                                          0
composition_food_organic_waste_percent                       0
composition_glass_percent                                    0
composition_metal_percent                                    0
composition_other_percent                                    0
composition_paper_cardboard_percent                          0
composition_plastic_percent                                  0
composition_rubber_leather_percent                           0
composition_wood_percent                                     0
composition_yard_garden_green_waste_percent                  0
population_population_number_of_people                       0
special_waste_agricultural_waste_tons_year                   0
special_waste_construction_and_demolition_waste_tons_year    0
special_waste_e_waste_tons_year                              0
special_waste_hazardous_waste_tons_year                      0
special_waste_industrial_waste_tons_year                     0
special_waste_medical_waste_tons_year                        0
Temprature Change                                            0
dtype: int64

In [116]:
df.columns

Index(['region_id', 'country_name', 'gdp',
       'composition_food_organic_waste_percent', 'composition_glass_percent',
       'composition_metal_percent', 'composition_other_percent',
       'composition_paper_cardboard_percent', 'composition_plastic_percent',
       'composition_rubber_leather_percent', 'composition_wood_percent',
       'composition_yard_garden_green_waste_percent',
       'population_population_number_of_people',
       'special_waste_agricultural_waste_tons_year',
       'special_waste_construction_and_demolition_waste_tons_year',
       'special_waste_e_waste_tons_year',
       'special_waste_hazardous_waste_tons_year',
       'special_waste_industrial_waste_tons_year',
       'special_waste_medical_waste_tons_year', 'Temprature Change'],
      dtype='object')

In [117]:
df['country_name']=df['country_name'].astype('category')
df['country_name']=df['country_name'].cat.codes

In [118]:
df['region_id']=df['region_id'].astype('category')
df['region_id']=df['region_id'].cat.codes

In [119]:
df.dtypes

region_id                                                       int8
country_name                                                   int16
gdp                                                          float64
composition_food_organic_waste_percent                       float64
composition_glass_percent                                    float64
composition_metal_percent                                    float64
composition_other_percent                                    float64
composition_paper_cardboard_percent                          float64
composition_plastic_percent                                  float64
composition_rubber_leather_percent                           float64
composition_wood_percent                                     float64
composition_yard_garden_green_waste_percent                  float64
population_population_number_of_people                         int64
special_waste_agricultural_waste_tons_year                   float64
special_waste_construction_and_demolition_waste_tons_year    float64
special_waste_e_waste_tons_year                              float64
special_waste_hazardous_waste_tons_year                      float64
special_waste_industrial_waste_tons_year                     float64
special_waste_medical_waste_tons_year                        float64
Temprature Change                                            float64
dtype: object

In [120]:
columns_to_convert = [
    'composition_food_organic_waste_percent',
    'composition_glass_percent',
    'composition_metal_percent',
    'composition_other_percent',
    'composition_paper_cardboard_percent',
    'composition_plastic_percent',
    'composition_rubber_leather_percent',
    'composition_wood_percent',
    'composition_yard_garden_green_waste_percent',
    'special_waste_agricultural_waste_tons_year',
    'special_waste_construction_and_demolition_waste_tons_year',
    'special_waste_e_waste_tons_year',
    'special_waste_hazardous_waste_tons_year',
    'special_waste_industrial_waste_tons_year',
    'special_waste_medical_waste_tons_year',
    'Temprature Change',
    'gdp'
]

for column in columns_to_convert:
    df[column] = df[column].astype('category')
    df[column] = df[column].cat.codes

In [121]:
df.columns

Index(['region_id', 'country_name', 'gdp',
       'composition_food_organic_waste_percent', 'composition_glass_percent',
       'composition_metal_percent', 'composition_other_percent',
       'composition_paper_cardboard_percent', 'composition_plastic_percent',
       'composition_rubber_leather_percent', 'composition_wood_percent',
       'composition_yard_garden_green_waste_percent',
       'population_population_number_of_people',
       'special_waste_agricultural_waste_tons_year',
       'special_waste_construction_and_demolition_waste_tons_year',
       'special_waste_e_waste_tons_year',
       'special_waste_hazardous_waste_tons_year',
       'special_waste_industrial_waste_tons_year',
       'special_waste_medical_waste_tons_year', 'Temprature Change'],
      dtype='object')

In [131]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score
from xgboost import XGBRegressor
# Assuming df is your DataFrame
# Fill missing values for numerical columns with their mean
numerical_columns = [
    'composition_food_organic_waste_percent',
    'composition_glass_percent',
     'composition_other_percent',
    'composition_paper_cardboard_percent', 'composition_plastic_percent',
    'composition_wood_percent',
    'population_population_number_of_people',
    'special_waste_construction_and_demolition_waste_tons_year',
    'special_waste_e_waste_tons_year',
    'special_waste_hazardous_waste_tons_year',
    'special_waste_medical_waste_tons_year', 
]

# Prepare the data
X = df[numerical_columns]
y = df['gdp']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

# Define the models to test
models = {
    'Linear Regression': LinearRegression(),
    'Random Forest': RandomForestRegressor(random_state=42),
    'Decision Tree': DecisionTreeRegressor(random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(random_state=42),
    'XGBRegressor': XGBRegressor(random_state=42)
}

# Test each model
results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    results[name] = {'Mean Squared Error': mse, 'R-squared': r2}

# Print the results
for name, metrics in results.items():
    print(f"{name} - Mean Squared Error: {metrics['Mean Squared Error']}, R-squared: {metrics['R-squared']}")

Linear Regression - Mean Squared Error: 2503.1539730610657, R-squared: 0.33631857686117006
Random Forest - Mean Squared Error: 1352.3095781609195, R-squared: 0.6414512431048864
Decision Tree - Mean Squared Error: 2502.7471264367814, R-squared: 0.33642644739151295
Gradient Boosting - Mean Squared Error: 1558.9851967891823, R-squared: 0.5866536676558761
XGBRegressor - Mean Squared Error: 1433.1971435546875, R-squared: 0.6200048923492432

In [128]:
model.feature_importances_

array([0.022493  , 0.01945176, 0.19359156, 0.03530786, 0.04091448,
       0.0515199 , 0.4244391 , 0.12775835, 0.06263481, 0.02188917],
      dtype=float32)